/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://cdn.discordapp.com/attachments/1088915211777486919/1149392021069500476/IMG_7835.jpg');
    --home-image: url('https://www.deviantart.com/gerxess/art/Boom-Klee-this-is-not-food-Animated-sticker-882670635');
    --background-solid: #a01219;
    --background-solid-dark: #a01229;
    --background-solid-darker: #a01239;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
